---
import Button from "../ui/Button.astro";

interface Props {
    title: string;
    description?: string;
    image: string;
    align?: "left" | "center";
    primaryAction?: {label:string; href:string;}
    secondaryAction?: {label:string; href:string;}
}

const {
    title,
    description,
    image,
    align = "center",
    primaryAction,
    secondaryAction
} = Astro.props;

const alignClass = align === "center" ? "items-center text-center" : "items-start text-left";
---

<div class="relative w-full h-full md:h-[80vh] overflow-hidden">
    <!-- Background Image -->
    <img
        src={image}
        alt={title}
        class="md:absolute relative  inset-0 w-full h-full object-cover"
    />
    <!-- Overlay -->
     <div class="absolute inset-0 bg-black/50"></div>
    
</div>

     <!-- Content Wrapper -->
<div class="relative md:absolute md:inset-0 z-10 flex justify-center items-center md:px-4 px-0">
  <div class={`w-full md:max-w-3xl max-w-full md:bg-transparent bg-slate-800/95 px-6 py-10 md:py-12 ${alignClass}`}>
    <h1 class="text-3xl md:text-5xl font-extrabold text-white drop-shadow-lg">
      {title}
    </h1>

    {description && (
      <p class="text-lg md:text-xl text-slate-200 drop-shadow">
        {description}
      </p>
    )}

    <!-- CTA Buttons -->
    <div class="flex gap-4 mt-4"
      class:list={[align === "center" && "justify-center"]}>
        
      {primaryAction && (
        <Button variant="primary" href={primaryAction.href}>
          {primaryAction.label}
        </Button>
      )}

      {secondaryAction && (
        <Button variant="secondary" href={secondaryAction.href}>
          {secondaryAction.label}
        </Button>
      )}
    </div>
  </div>
</div>

