---
import Container from './Container.astro';

interface Props {
    id?: string;
    variant?: 'default' | 'soft' | 'dark';
    className?: string;
}

const {
    id,
    variant = 'default',
    className = '',
} = Astro.props;

const baseClasess = 'py-12 md:py-16';
let variantClasses = '';

if (variant === 'default') {
    variantClasses = 'bg-white text-slate-900';
} else if (variant === 'soft') {
    variantClasses = 'bg-slate-50 text-slate-900';
} else if (variant === 'dark') {
    variantClasses = 'bg-slate-900 text-slate-50';
}

const sectionClass = `${baseClasess} ${variantClasses} ${className}`.trim();
---

<section id={id} class={sectionClass}>

    <Container>
        <slot/>
    </Container>
</section>